.replace-me {
  border: 30px solid #F9461C;
  font-weight: 700;
  height: 100%;
  line-height: 100vh;
  text-align: center;
  width: 100%;
}

.replace-me__text {
  animation: party-time 1s linear infinite;
  color: salmon;
}
